{% extends 'main.html' %}
{% load crispy_forms_tags %}


{% block title %}Add member{% endblock title%}


{% block content %}
<div class="container mt-5" id="card-login">
    <div class="card p-3 border-dark">
        <a class="btn btn-outline-dark mt-3" id="title-login">Add member</a>
        <form method="POST" autocomplete="off" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark btn-sm mt-4 mb-3" type="submit" id="btn-enter" value="Add member">
        </form>
    </div>
</div>


{% endblock content %}