{% extends 'main.html' %}
{% load crispy_forms_tags %}


{% block title %}Family{% endblock title%}


{% block content %}
<div>
    <br><br>

    <div class="d-flex justify-content-between">
        <a href="{% url 'add_member' %}" class="btn btn btn-outline-dark btn-sm"><i></i>Add Member</a>
    </div>

    <form>
        <div class="input-group input-group-sm mb-3 mt-4">
            <input name="q" type="text" class="form-control" placeholder="Search for...">
            <button class="btn btn-secondary"><i class="fa fa-search"></i> Search</button>
            <a href="{% url 'family' %}" class="btn btn-dark" style="margin-left: 2px;"><i class="fa fa-refresh"></i> Refresh</a>
        </div>
    </form>

    <center>
        <table class="table table-bordered table-sm mt-4" style="text-align: center; font-size: 14px;">
            <thead class="table-secondary">
            <tr>
                <th>Name</th>
                <th>Date of birth</th>
                <th>Place of birth</th>
                <th>Parents</th>
                <th>Children</th>
                <th>Spouses</th>
                <th>Siblings</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            {% for member in members %}
            <tr>
                <td><a class="link-dark" href="{% url 'profile' member.id %}">{{ member }}</a></td>
                <td> {{ member.date_of_birth }}</td>
                <td> {{ member.place_of_birth }}</td>
                <td> {% for parent in member.parents.all %} {{ parent }} {% endfor %}</td>
                <td> {% for child in member.children.all %} {{ child }} {% endfor %}</td>
                <td> {% for spouse in member.spouses.all %} {{ spouse }} {% endfor %}</td>
                <td> {% for sibling in member.siblings.all %} {{ sibling }} {% endfor %}</td>
                <td>
                    <a href="{% url 'edit_member' member.id %}" class="btn btn-secondary btn-sm" title="Edit Member">Edit</a>
                    <button href="" data-bs-toggle="modal" data-bs-target="#mod"
                       class="btn btn-dark btn-sm" title="Delete Member">Delete</button>
                </td>

            </tr>
            {% endfor %}
        </table>
    </center>
</div>

    <nav class="mt-4" aria-label="Page navigation example">
        {% if members.has_other_pages %}
        <ul class="pagination justify-content-left">
            {% if members.has_previous %}
            <a href="?page=1" class="btn btn-outline-secondary mb-4">First</a>
            <li class="page-item"><a class="btn btn-outline-secondary mb-4" href="?page={{ members.previous_page_number }}"><i><<</i></a></li>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}

            {% for i in members.paginator.page_range %}
            {% if members.number == i %}
            <li class="page-item active"><span class="btn btn-dark mb-4">{{ i }}<span class="sr-only"></span></span></li>
            {% else %}
            <li class="page-item"><a class="btn btn-outline-secondary mb-4" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if members.has_next %}
            <li class="page-item"><a class="btn btn-outline-secondary mb-4" href="?page={{ members.next_page_number }}"><i>>></i></a></li>
            <a href="?page={{ members.paginator.num_pages }}" class="btn btn-outline-secondary mb-4">Last</a>
            {% else %}
            <li class="page-item disabled"></li>
            {% endif %}
        </ul>
        {% endif %}
    </nav>

{% endblock content %}