{% extends 'main.html' %}
{% load crispy_forms_tags %}


{% block title %}Family{% endblock title%}


{% block content %}
<div>
  <br><br>

    <div class="d-flex justify-content-between">
        <a href="#" class="btn btn btn-outline-dark btn-sm"><i></i>Add Member</a>
    </div>

    <form>
        <div class="input-group input-group-sm mb-3 mt-4">
            <input name="q" type="text" class="form-control" placeholder="Search for...">
            <button class="btn btn-secondary"><i></i>Search</button>
            <a href="#" class="btn btn-dark" style="margin-left: 2px;"><i></i>Refresh</a>
        </div>
    </form>

  <center>
        <table class="table table-bordered table-sm mt-4" style="text-align: center; font-size: 14px;">
            <thead class="table-secondary">
                <tr>
                    <th style="width: 25%">Name</th>
                    <th style="width: 25%">Parents</th>
                    <th style="width: 20%">Children</th>
                    <th style="width: 20%">Date of birth</th>
                    <th style="width: 10%" colspan="2">Actions</th>
                </tr>
            </thead>
            {% for member in members %}
            <tr>
                <td> {{ member }}</td>
                <td> {% for parent in member.parents.all %} {{ parent }} {% endfor %}</td>
                <td> {% for child in member.children.all %} {{ child }} {% endfor %}</td>
                <td> {{ member.date_of_birth }}</td>
                <td>
                    <a href ="#" class="btn btn-dark btn-sm" title="Edit Member">
                        <i>Edit</i>
                    </a>
                </td>
                <td>
                    <a method="POST" href ="#" class="btn btn-secondary btn-sm" title="Delete Member">
                        <i>Delete</i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>

</div>

{% endblock content %}