{% extends 'main.html' %}


{% block title %}Profile{% endblock title%}


{% block content %}

<div class="card">
    <div class="card-header">
        {{ member }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ member }}</h5>
        <p class="card-text">
        <ul>
            <li><strong>Place of Birth: </strong>{{ member.place_of_birth }}</li>
            <li><strong>Spouses: </strong>{% for spouse in member.spouses.all %} {{ spouse }}, {% endfor %}</li>
            <li><strong>Parents: </strong>{% for parent in member.parents.all %} {{ parent }}, {% endfor %}</li>
            <li><strong>Siblings: </strong>{% for sibling in member.siblings.all %} {{ sibling }}, {% endfor %}</li>
            <li><strong>Notes: </strong>{{ member.notes }}</li>
        </ul>
        </p>
    </div>
</div>


{% endblock content %}